[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = suggestion
